<html ng-app="ngtlantic">
    <head>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel ="stylesheet" type="text/css" href="bower_components/topcoat/css/topcoat-mobile-dark.css">
        <link rel ="stylesheet" type="text/css" href="View/css/estilo.css">
    </head>
    <body ng-controller="rootController">
        <div id="center">
            <button class="topcoat-button" ng-click='goTo("/search")'>Pesquisar</button>
            <button class="topcoat-button" ng-click='goTo("/list")'>Listar Produtos</button>
        </div>
        <ng-view></ng-view>
        
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="scripts/App.js"></script>
        <script src="scripts/customService.js"></script>
        <script src="Control/rootController.js"></script>
        <script src="Control/listController.js"></script>
        <script src="Control/searchController.js"></script>
        <script src="Control/resultController.js"></script>
        
        <script src="scripts/tapAnim.js"></script>
        
    </body>
</html>